* {
    margin: 0 0;
    padding: 0 0;
}
body {
   /* background-color: #a9a8a8;*/
    background-color: #040a25;
    font-family: 'Tahoma';
}



.container {
    width: 1000px;
    padding: 0 0;
}
.controles_IMG{
    opacity: 0.4;
    width:298px;
    height:180px;
}
.logo{
    position:relative;
    color: #49e8d9;

}

.logo-imagen{
    max-width: 40;
    max-height: 40px;

}

.form-control-borderless {
    border: none;
    background-color: #0E3D68;

}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
    size: 12px;
}
        .contBuscar{
    background-color: #040a25;

}

.breadcrumb{
    background-color: #a9a8a8;
    font-family: 'Tahoma';
}
.punnt{
    margin-left:30px;
    margin-top: 10px;
    font-size: 20px;
}

.mejorPuntaje{

    margin-left:410px;
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
}


.navbar-color {
    background-color: #040a25;
}

.navbar-color a {
    color: #b7b7b7;
}

.navbar-color>.navbar-brand {
    color: #49e8d9;
    font-size: 25px;
}


.juego-container {
    width: 100%;
    height: 600px;
}



#inicio {
  color: #49e8d9;
  background-color:#0E3D68;
  height: 50px;
  width: 130px;
  font-size: 23px ;
  margin-top: 80px;
  text-align: center;
  visibility: hidden;
}


#inicio:hover {
   background-color: #0E3D68;
    color: #49e8d9;
    box-shadow: 0 0 1em 0.2em #040a25;
}


#juego {
    position: absolute;
    overflow: hidden;
    float: left;
    width: 1000px;
    height: 100%;
    background-image: url("../images/nuves.png"),url("../images/cielo.png");
    background-size: auto,  auto;
    background-repeat: repeat, repeat;
    background-position: 0px 0px, 0px 0px;
}

.animacion-fondo {
    animation: moverFondo linear 5s infinite;
}



.naveEspacial {
    position: absolute;
    width: 55px;
    height: 95px;
    background-image: url("../images/nave.png");
    background-size: auto;
    bottom: 50px;
    left: 322px;
}

.izq {
    animation: deslizarIzquierda ease-out 0.5s;
    animation-fill-mode: forwards;
}

.der {
    animation: deslizarDerecha ease-out 0.5s;
    animation-fill-mode: forwards;
}


.enemigo {
    position: absolute;
    width: 98px;
    height: 100px;
    background-image: url("../images/enemigo.png");
    background-size: auto;
    background-repeat: no-repeat;
    bottom: 1000px;
    left: 322px;
}


.vueloEnem {
    animation: vueloEnemigo linear;
    animation-duration: 2.3s;
}


.explosion {
    width: 192px;
    height: 150px;
    position: absolute;
    background: url("../images/exp.png") 0 0;
    animation: explosion1 1s steps(25) 1;
}



.finJuego {
    font-size: 54px;

    text-align: center;
    animation: animacionFinJuego 2s;
}
/**/

footer{
    margin-top: 35px;
    color:#a6c5e6;
}


.context-dark, .bg-gray-dark, .bg-primary {
   /*color: rgba(255, 255, 255, 0.8);
   */
   color:#a6c5e6;
}

.contact-list{
    font-size: 13px;
}
.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #a6c5e6;
}
.nav-foo li {
    padding-top: 2px;
    padding-bottom: 2px;
}

.nav-foo li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 18px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "";
    font: 400 20px/1 "Material Design Icons";
    color: #a6c5e6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
/**/


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0;
    }
}

@keyframes scaleSize {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.8);
    }
}


@keyframes animacionFinJuego {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes moverFondo {
    from {
        background-position:  0px 0px, 0px 0px;
    }

    to {
        background-position: 0px 2400px, 0px 1200px;
    }
}


@keyframes vueloEnemigo {
     from {
        transform: translate();
    }

    to {
        transform: translate(0px, 750px);
    }
}
@keyframes explosion1 {
    100% {
        background-position: -4800px 0px;
    }
}


@keyframes deslizarIzquierda {
    100% {
        transform: rotateY(-50deg)
    }
}

@keyframes deslizarDerecha {
    100% {
        transform: rotateY(50deg)
    }
}


/*LOGIN         INICIO*/

/*-------LOGIN STARTS HERE -------*/

/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    background:#d2e0ea url(../images/login/buttonbg.png) repeat-x; 
    border:1px solid #899caa; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
}

/* Login Button Text */
#loginButton span {
    color:#445058; 
    font-size:14px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:7px 29px 9px 10px;
    background:url(../images/login/loginArrow.png) no-repeat 53px 7px;
    display:block
}

#loginButton:hover {
    background:url(../images/login/buttonbgHover.png) repeat-x;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Login Form */
#loginForm {
    width:248px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#d2e0ea;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(../images/login/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}





/*LOGIN         FIN*/